<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="info.camposha.firebasedatabasecrud">

    <uses-permission android:name="android.permission.INTERNET"/>
    <dist:module dist:instant="true" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@drawable/edit"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Views.Login"
            android:label="Login "
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Views.Register"
            android:label="Register "/>
        <activity android:name=".Views.SplashActivity" android:theme="@style/SplashTheme"
            android:exported="true">
         </activity>
        <activity android:name=".Views.DashboardActivity" android:theme="@style/HomeTheme">
        </activity>
        <activity
            android:name=".Views.ScientistsActivity"
            android:label="Scientists "
            android:parentActivityName=".Views.DashboardActivity" />
        <activity
            android:name=".Views.CRUDActivity"
            android:theme="@style/CRUDTheme"
            android:label="CRUD Page "
            android:parentActivityName=".Views.DashboardActivity" />
        <activity
            android:name=".Views.DetailActivity"
            android:label="Details Page "
            android:parentActivityName=".Views.ScientistsActivity" />
    </application>

</manifest>